<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SnapTwitter|Sign In</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
</head>
<body>
    <h1>Welcome Back</h1>
    {% if messages %}
            <ul class="messages">    
                {% for message in messages %}    
                    <li {% if message.tags %} class="{{ message.tags }}" style="color: red;" {%endif %}>{{ message }}</li>    
                {% endfor %}
            </ul>
        {% endif %}
    <form action="/login/validate" method="post">
        {%csrf_token%}
        <p>Email: <input type= "text" name= "email"></p>
        <p>Password: <input type= "text" name= "pw"></p>
        <p><button type="submit">Login</button>  <a href="/register">New User</a></p>
    </form>
</body>
</html>